body {
    font: small/1.6em Verdana, Helvetica, Arial, sans-serif;
    line-height: 2em;
  }

h1, h2 {
    color: #007e7e;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 130%;
}

#guarantee {
    font-family: Georgia, Times New Roman, serif;
    font-style: italic;
    padding: 40px;
    padding-left: 100px;
    margin: 40px;
    margin-right: 400px;
    border-style: dashed;
    border-width: 1px;
    border-color: white;
    line-height: 2em;
    color: black;
    background: url(images/background.gif) no-repeat top left #007e7e;
}

#elixirs {
    border: solid #007e7e thin;
    width: 300px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    text-align: center;
    background: url(../chapter-9/images/cocktail.gif) repeat-x;
    line-height: 2;
    float: right;
}

#elixirs h2 {
    color: black;
}

#elixirs h3 {
    color: #d12c47;
}

#footer {
    font-size: x-small;
    text-align: center;
    line-height: normal;
    margin-top: 50px;
}

.artist {
    font-weight: bold;
}

.track {
    font-style: oblique;
}

a:link {
    color: #007e7e;
}

a:visited {
    color: #333333;
}

#elixirs a:link {
    color: #0007e7;
}

#elixirs a:visited {
    color: #333333;
}

#elixirs a:hover {
    background: #f88396;
    color: #0d5353;
}